body{
  font-family:'Courier New', Courier, monospace;
  background: #89a688;
  color: #ffffff;
  margin: 0;
}


footer{
  background-color: rgb(106, 165, 112);
  color: #ffffff;
  align-items: center;
  align-content: center;
  padding: 20px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

li{
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
}

li a:hover:not(:active){
  color: black;
}

.active{
  color: black;
}

input[type=text], select{
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=date], input[type=number] {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]{
  width: 30%;
  background-color: rgb(29, 138, 32);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: #45a049;
}

table{
  margin-top: 30px;
  margin-bottom: 30px;
  border: #000000;
}