jbody {
  font-family: 'Courier New', Courier, monospace;
  background: white;
  margin: 0;
}

header {
  background: #98d9e9;
  padding: 2cm;
  color: rgb(18, 18, 18);
}

footer{
  background: #3acac3;
  padding: 20px;
  color: rgb(18, 18, 18);
  margin-top: 20px;
}

article {
  border: 1px solid #111;
  position: relative;
  padding: 10px;
  margin: 10px;
  width: auto;
  margin-bottom: 0px;
  color: black;
  background: #ffffff;
}

aside {
  border: 1px solid #111;
  position: relative;
  padding: 10px;
  margin: 10px;
  width: auto;
  margin-bottom: 0px;
  color: black;
  background: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3acac3;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;                                                                                                                                                                          
  padding: 15px 17px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: red;
}

.active {
  background-color: green;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}